<footer>
    <div class="footer-info">
        <div class="d-flex justify-content-sm-evenly">
            
            <div class="p-2">
                Contact Us
            </div>
            
            <div class="p-2">
                Contact Us
            </div>
            
            <div class="p-2">
                Contact Us
            </div>
        </div>
    </div>
</footer>
